@font-face {
	font-family: 'Proxima Nova Regular';
	src: url('ProximaNova-Regular.eot');
	src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
		url('ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('ProximaNova-Regular.woff') format('woff'),
		url('ProximaNova-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Proxima Nova Bold';
	src: url('ProximaNova-Bold.eot');
	src: local('Proxima Nova Bold'), local('ProximaNova-Bold'),
		url('ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
		url('ProximaNova-Bold.woff') format('woff'),
		url('ProximaNova-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Proxima Nova SemiBold';
	src: url('ProximaNova-Semibold.eot');
	src: local('Proxima Nova Semibold'), local('ProximaNova-Semibold'),
		url('ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
		url('ProximaNova-Semibold.woff') format('woff'),
		url('ProximaNova-Semibold.ttf') format('truetype');
}

@font-face {
	font-family: 'Proxima Nova Light';
	src: url('ProximaNova-Light.eot');
	src: local('Proxima Nova Light'), local('ProximaNova-Light'),
		url('ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
		url('ProximaNova-Light.woff') format('woff'),
		url('ProximaNova-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Berlingske Serif Regular';
	src: url('BerlingskeSerif-Regular.ttf');
}

@font-face {
	font-family: 'Berlingske Serif Bold';
	src: url('BerlingskeSerif-Bold.ttf');
}

@font-face {
	font-family: 'Berlingske Serif Light';
	src: url('BerlingskeSerif-Light.ttf');
}